@use 'variaveis';

.footer {
    padding: 26px 8px;

    &__container {
        max-width: 1024px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }

    &__logo {
        width: 80px;
        margin: 0 auto 10px;
    }

    p {
        margin-bottom: 16px;
    }
}